
<h1 style="text-align: center; color: indigo;">Registeration form</h1>
<form class="example-form"  [formGroup]="userFormGroup" (ngSubmit)="sendData()">

    <mat-form-field class="example-full-width">
      <mat-label>Name </mat-label>
      <input matInput placeholder="Ex. Jayesh" formControlName="userName">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Email id </mat-label>
      <input matInput placeholder="Ex. jdnayee1001@gmail.com" formControlName="email">
    </mat-form-field> 
  
    <mat-form-field class="example-full-width">
      <mat-label>Mobile No </mat-label>
      <input matInput placeholder="Ex. 999777622" formControlName="mobileNo">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Password </mat-label>
      <input matInput placeholder="Ex. J@yesh02" formControlName="password">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>User Address </mat-label>
      <input matInput placeholder="Ex. Kadi" formControlName="userAddress">
    </mat-form-field> 
  
    <mat-form-field class="example-full-width">
      <mat-label>Bank Id </mat-label>
      <input matInput placeholder="Ex. Kadi" formControlName="bankId">
    </mat-form-field> 
  
    <mat-form-field class="example-full-width">
      <mat-label>Bank Name </mat-label>
      <input matInput placeholder="Ex. BOB " formControlName="bankName">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Designation </mat-label>
      <input matInput placeholder="Ex. customer" formControlName="designation">
    </mat-form-field>  
  
    <mat-form-field class="example-full-width">
      <mat-label>Branch </mat-label>
      <input matInput placeholder="Ex. Nani-kadi" formControlName="branch">
    </mat-form-field> 
  
  
    <mat-form-field class="example-full-width">
      <mat-label>IFSC Code</mat-label>
      <input matInput placeholder="Ex. Kadi" formControlName="ifscCode">
    </mat-form-field> 

  

  <div class="form-outline mb-4">
    <input type="file" (change)="selectFile($event)" class="form-control form-control-lg" name="excelsheet" id="excelsheet"
        placeholder="Upload Image">
</div>

    <button type="submit" mat-raised-button color="primary">Submit</button>

  
</form>
